$base-color: #FFFFFF;
$tabs-bottom-radius: 0;
$tabs-top-radius:0;

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...
@include pictos-iconmask('speech');
@include pictos-iconmask('compose3');
@include pictos-iconmask('myhome');
@include pictos-iconmask('myuser');
@include pictos-iconmask('mysearch');
@include pictos-iconmask('camera');
@include pictos-iconmask('myinfo');
@include pictos-iconmask('signup');
@include pictos-iconmask('delete');
// login page

.welcome-tab{
	background: url(../images/welcome-background.png);
	background-size: 256px 256px;
}

.login-logo{
	margin-bottom:2em;
}

.welcome-text{
	font-family: Georgia, serif;
	font-size: 0.7em;
	font-style: italic;
	color:#666;
	text-align:center;
	line-height: 2em;
}
.welcome-comp, .welcome-form{
	margin-bottom: 1em;
}
.welcome-form{
	width:215px;
}

.welcome-tabbar{
	background: #353535;
	height:55px !important;
	background: -moz-linear-gradient(top,  #353535 0%, #464646 13%, #464646 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#353535), color-stop(13%,#464646), color-stop(100%,#464646));
	background: -webkit-linear-gradient(top,  #353535 0%,#464646 13%,#464646 100%);
	background: -o-linear-gradient(top,  #353535 0%,#464646 13%,#464646 100%);
	background: -ms-linear-gradient(top,  #353535 0%,#464646 13%,#464646 100%);
	background: linear-gradient(to bottom,  #353535 0%,#464646 13%,#464646 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#464646',GradientType=0 );
}
.welcome-tabbar .x-tab{
	background: none !important;
	border:none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	text-shadow: none !important;
	width:33.33333333333% !important;
}

.welcome-tabbar .x-button-label, .welcome-tabbar .x-tab-pressed .x-button-label{
	font-size:11px !important;
	color:#666;
}

.welcome-tabbar .x-tab-active .x-button-label{
	color:white !important;
}

//sign up

.x-form-fieldset .x-field.firstname{
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
}

.x-form-fieldset .x-field.lastname{
	border-left:1px solid #ddd !important;
	border-bottom:1px solid #ddd !important;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
}

.x-form-fieldset .x-field.country{
	border-bottom: 0;
	-webkit-border-bottom-left-radius: 0.4em;
	border-bottom-left-radius: 0.4em;
	-webkit-border-bottom-right-radius: 0.4em;
	border-bottom-right-radius: 0.4em;
}

.x-form-fieldset .x-field.state{
	border-left:1px solid #ddd !important;
}

//Homepage

.hometab{
	height:46px !important;
	background:url(../images/tabbar.png) !important;
	background-size:32px 46px;
}

.hometab .x-tab-active{
	background:none !important;
	border-bottom:none !important;
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
}

.hometab .x-tab{
	width:20% !important;
	border-right:1px solid #222;
}

.hometab .x-tab:last-child{
	border-right:none;
}

.x-tabbar.x-docked-top{
	padding: 0 !important;
}

.homepage-tabbar .x-tab{
	width:50%;
	height:auto !important;
}

.featured_post{
	width:90%;
	margin: 1.4em 5%;
	height:180px;
	position:relative;
	-webkit-border-bottom-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

.featured_post_image{
	-webkit-border-bottom-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

.featured_post_title{
	height:36px;
	background:white;
}

.feature_post_title{
	padding:0.4em;
}

.feature_post_title h3{
	font-size:1em;
	font-weight:700;
	margin:0 !important;
}

.feature_post_title p{
	margin:0;
	font-size:0.6em;
	color:#666;
}

.featured_post_image{
	position: absolute;
	top: 36px;
	bottom: 0;
	left: 0;
	right: 0;
}

.post_stats{
	position: absolute;
	right: 10px;
	bottom: 10px;
	background: rgba(0, 0, 0, 0.5);
	padding: 0.5em;
	border-radius: 2em;
	color: white;
	font-size: 0.8em;
	font-weight: 700;
}

.post_stats span{
	padding-left:20px;
}

.post_like{
	background:url(../images/love.png) no-repeat top left;
	background-size:16px 16px;
}

.post_view{
	margin-left: 10px;
	background: url(../images/eye.png) no-repeat top left;
	background-size: 20px 20px;
	background-position: -2px -2px;
}

//notifitaions

h2.notif_title{
	background: #00AEEF !important;
	height: 3em !important;
	font-size: 1em !important;
	font-weight: 700 !important;
	color: white !important;
	padding: 0.8em !important;
	padding-left: 1.2em !important;
}

.invitation-list-item{
	height:56px;
	border-bottom:1px solid #999;
	background:white;
}

.profile-name{
	font-size:1.2em;
	font-weight:700;
	color:#333;
	margin-left:0.4em;
}

.acceptbtn{
	width: 5.5em;
}

.acceptbtn .x-button-label{
	padding:5px;
}

.ignorebtn .x-button-icon{
	margin:5px;
}

.ignorebtn{
	margin:0 1em;
}

.notif_newpost{
	
}